* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    width: 100%;
/*????????????????????*/
    max-height: 700px;
    height: 100%;
/*????????????????????*/

    border-bottom: 2px solid black;
}

.page-header header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.page-header header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

.page-header header nav ul a {
    text-decoration: none;
    color: black;
}

.page-header header nav ul li:not(:first-child) {
    margin-left: 15px;
}

.page-header header div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.page-header header .image-container {
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;

    margin-right: 20px;
}

.page-header article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header article h1,
.page-header article p {
    margin-bottom: 15px;
}

.page-header article p {
    color: lightgray;
}